# Ignore Visual Studio folder
.vs/

# Ignore build results (bin and obj) for all projects
**/bin/
**/obj/

# Ignore Entity Framework Migrations for all projects
**/[Mm]igrations/

# Optionally ignore SQLite database files
**/*.sqlite
**/*.sqlite-shm
**/*.sqlite-wal

# Ignore user-specific files
*.user
*.rsuser
*.suo
*.userosscache
*.sln.docstates
